dash-ace==0.2.1
dash==4.0.0
slowapi==0.1.9
dash-bootstrap-components==2.0.4
fastapi==0.135.1
uvicorn==0.41.0
python-dotenv==1.2.2
torch==2.12.0.dev20260320+cu128 # This version works with Nvidia RTX 5070 Ti GPU. If you experience issues, change to a compatible version for your GPU.
sdv==1.35.0